
<div>
  <div class="flex flex-col justify-center items-center h-[43.1rem] object-cover" style="background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <h1 class="text-gray-500 font-semibold">About Us</h1>
    <div class="border-4 border-gray-400 w-[40rem] p-10 text-gray-800 font-bold ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum mollitia eligendi autem. Culpa quos labore dignissimos, quas voluptas doloribus assumenda consequuntur, a odio nostrum, placeat eaque iusto. Quasi accusamus maxime veniam velit similique est accusantium libero! Neque a, nihil minima dolore ex saepe et quis dolorum, natus dicta, iusto ullam hic vero doloremque exercitationem reiciendis esse voluptatibus explicabo recusandae facilis sequi animi nulla! Quae itaque magnam eum adipisci eligendi iste incidunt dolore, reprehenderit inventore dolorem eius modi beatae quasi nobis doloribus eos sint sequi saepe earum nesciunt aliquid repellat consectetur impedit eveniet? Itaque maiores porro modi obcaecati tempore? Numquam, natus?</div>
  </div>
</div>
