<div class="topper">
  <div class="form-cont">
    <form [formGroup]="menuForm" (ngSubmit)="addToMenu()">
      <div>
        <mat-card-header>
          <mat-card-title >Add Dish</mat-card-title>
        </mat-card-header>
      </div>


      <div class="form-grp">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Placeholder" type="text" formControlName="menu_name" />
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Placeholder" type="number" formControlName="cost"  />
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="form-ctrl">
        <div>
          <mat-form-field appearance="outline" class="full">
            <mat-label>Description</mat-label>
            <textarea matInput name="" id="" cols="100" rows="2" formControlName="menu_description" ></textarea>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="form-grp">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Image</mat-label>
            <input matInput placeholder="Placeholder" type="text" formControlName="imageUrl" />
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Size</mat-label>
            <input matInput placeholder="Placeholder"  type="number" formControlName="menu_size" />
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <mat-card-actions class="mx-3">
        <button color="primary" mat-stroked-button type="submit">Sent</button>
      </mat-card-actions>

    </form>
  </div>
</div>

