<div class="p-10">
  <mat-spinner *ngIf="products.length === 0"></mat-spinner>
  <mat-grid-list cols="4" rowHeight="30rem" gutterSize="2rem">
    <mat-grid-tile *ngFor="let product of products">
      <mat-card class="mt-10">

        <mat-card-content>

          <img class="h-full w-full mb-5" src="{{ product.imageUrl }}" alt="" />
          <mat-card-header>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>
              {{ product.price }} $/ {{ product.quantity }}
            </mat-card-subtitle>
          </mat-card-header>
          <p class="text-xs h-24 pl-4 font-medium prose">
          {{ product.description }}
        </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="flex justify-center space-x-10">
            <button mat-raised-button color="primary" (click)="details(product.id)">Buy Meal</button>
            <app-add-to-cart [product_id]="product.id"></app-add-to-cart>
          </div>

        </mat-card-actions>


      </mat-card></mat-grid-tile
    >
  </mat-grid-list>
</div>
